

#particles-js{
	width: 100%;
	height: 100%;
	position: fixed;
	background: #fff;
}	

.barra-color{
	background-color:#0E73A8;
	background-image: linear-gradient(#0E73A8, #0E73A8, #0E73A8);
}
.letra{
	 color: black;
	 font-size: 0.8em;
}
.borde{
	margin-bottom: 2em;
}
.blogo{
	margin-top: -0.2em;
}
@media screen (max-width: 500px;) {
	.letra{
	 color: black;
	 font-size: 0.5em;
	}
}