/*  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.barra-color{
	background-color:#0E73A8;
	background-image: linear-gradient(#0E73A8, #0E73A8, #0E73A8);
}
.letra{
	 color: black;
	 font-size: 0.8em;
}
.borde{
	margin-bottom: 2em;
}
.blogo{
	margin-top: -0.2em;
}
@media screen (max-width: 500px;) {
	.letra{
	 color: black;
	 font-size: 0.5em;
	}
}