<!DOCTYPE html>
<html ng-app="pokedex" lang="en">
<head>
	<meta charset="utf-8">
    <link rel="shortcut icon" href="./images/favicon.ico" />
    <link rel="stylesheet" href="./stylesheets/boostrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/hover-min.css"/>
    <link rel="stylesheet" href="./stylesheets/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>
<body>
  <nav class="navbar navbar-default barra-color">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <figure class="blogo"><img src="./images/logo.png" alt=""></figure>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=""><a href="./">Inicio<span class="sr-only">(current)</span></a></li>
          <li class=""><a href="./observatorio.html">Observatorio<span class="sr-only">(current)</span></a></li>
          <li class=""><a href="./publicaciones.html">Publicaciones<span class="sr-only">(current)</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Información ciudadana<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="./blog">Blog</a></li>
              <li class="active"><a href="./abiertos.html">Datos Abiertos</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <figure><img src="./images/riobamba2.png" alt=""></figure>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

	<section class="">
		<!-- Tabs -->
          <div class="col-md-12" ng-controller="TabsController as tabs">
            <ul class="nav nav-tabs nav-justified">
              <li ng-class="{ active:tabs.tab===1}"> <a href="#" ng-click="tabs.selectTab(1)"><img src="./images/salud.png" width="18" height="18" alt=""> Salud</a></li>
              <li ng-class="{ active:tabs.tab === 2 }"><a href="#" ng-click="tabs.selectTab(2)"><img src="./images/educacion.png" width="18" height="18" alt="">Educación</a></li>
              <li ng-class="{ active:tabs.tab === 3 }"><a href="#" ng-click="tabs.selectTab(3)"><img src="./images/recreacion.png" width="18" height="18" alt=""> Recreación</a></li>
              <li ng-class="{ active:tabs.tab === 4 }"><a href="#" ng-click="tabs.selectTab(4)"><img src="./images/seguridad.png" width="18" height="18" alt=""> Seguridad</a></li>
              <li ng-class="{ active:tabs.tab === 5 }"><a href="#" ng-click="tabs.selectTab(5)"><img src="./images/turismo.png" width="18" height="18" alt=""> Turismo</a></li>
              <li ng-class="{ active:tabs.tab === 6 }"><a href="#" ng-click="tabs.selectTab(6)"><img src="./images/infantiles.png" width="18" height="18" alt="">Infantiles</a></li>
            </ul>
            <div class="tab-content">
                <!-- salud -->
                  <br>
                  <div ng-show="tabs.tab === 1">
                    <div class="col-lg-9 col-lg-offset-2" >
                          
                          <script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'></script>
                          <div class='col-md-12 tableauPlaceholder'>
                            <noscript>
                            <a href='#'>
                              <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;iO&#47;iON&#47;AnlisisRiobambaSalud&#47;1_rss.png' style='border: none' />
                            </a>
                            </noscript>
                            <object class='tableauViz' width='100%' height="890px" style='display:none;'>
                              <param class="" name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                              <param class="" name='site_root' value='' />
                              <param class="" name='name' value='iON&#47;AnlisisRiobambaSalud' />
                           
                              <param name='tabs' value='yes' />
                           <param name='toolbar' value='yes' />
                           <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;iO&#47;iON&#47;AnlisisRiobambaSalud&#47;1.png' /> 
                           <param name='animate_transition' value='yes' />
                           <param name='display_static_image' value='yes' />
                           <param name='display_spinner' value='yes' />
                           <param name='display_overlay' value='yes' />
                           <param name='display_count' value='yes' />
                           <param name='showVizHome' value='no' />
                           <param name='showTabs' value='y' />
                           <param name='bootstrapWhenNotified' value='true' /> 
                            </object>
                          </div>
                  </div> 
            </div>
              <!-- Stats -->
              <div ng-show="tabs.tab === 2">
                  <div class="col-lg-9 col-lg-offset-2" >

                    <script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'></script>
                    <div class='tableauPlaceholder'>
                      <noscript>
                        <a href='#'>
                        <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;iO&#47;iON&#47;AnlisisRiobambaEducacin&#47;1_rss.png' style='border: none' />
                        </a>
                      </noscript>
                      <object class='tableauViz' width="100%" height="890px" style='display:none;'>
                      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                      <param name='site_root' value='' /><param name='name' value='iON&#47;AnlisisRiobambaEducacin' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;iO&#47;iON&#47;AnlisisRiobambaEducacin&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='showVizHome' value='no' /><param name='showTabs' value='y' /><param name='bootstrapWhenNotified' value='true' /></object></div>
                    
                  </div>
              </div>
              <!-- Seguridad -->
              <div ng-show="tabs.tab === 3">
             	   <div class="col-lg-9 col-lg-offset-2" >
                      
                      <script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'></script>
                      <div class='tableauPlaceholder'>
                        <noscript><a href='#'>
                        <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;iO&#47;iON&#47;AnalisisRiobambaDeportes&#47;1_rss.png' style='border: none' /></a></noscript>
                        <object class='tableauViz' width='100%' height='895px' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='iON&#47;AnalisisRiobambaDeportes' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;iO&#47;iON&#47;AnalisisRiobambaDeportes&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='showVizHome' value='no' /><param name='showTabs' value='y' /><param name='bootstrapWhenNotified' value='true' /></object></div>

                 </div>    
                
              </div>
              <!-- Turismo -->
              <div ng-show="tabs.tab === 4">
             	   <strong>Seguridad</strong>       
              </div>
              <!-- Turismo -->
              <div ng-show="tabs.tab === 5">
             	   <strong>Turismo</strong>       
              </div>
              <div ng-show="tabs.tab === 6">
                 <strong>Infantiles</strong>       
              </div>

            </div>
          </div>
          <!-- /tabs -->
	</section>

	<script src="https://code.angularjs.org/1.3.14/angular.min.js"></script>
 	<script src="https://code.angularjs.org/1.3.14/angular-route.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <script src="./javascripts/app.js"></script>
</body>
</html>